# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
.venv/
venv/
env/

# Outils / IDE
.idea/
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Sorties locales du projet
pddl/problem*.pddl
